annotated-types
blinker
certifi
charset-normalizer
click
Flask
idna
importlib_metadata
itsdangerous
Jinja2
MarkupSafe
numpy
opencv-python
pillow
pydantic
pydantic_core
pydub
python-dotenv
requests
SpeechRecognition
typing_extensions
urllib3
Werkzeug
zipp
